<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>BhuvaneswarBlogApplication</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
          rel="stylesheet"
        />

        <link rel="stylesheet" href="css/bootstrap.min.css" />

        <link rel="stylesheet" href="css/bootstrap-icons.css" />

        <link rel="stylesheet" href="css/owl.carousel.min.css" />

        <link rel="stylesheet" href="css/owl.theme.default.min.css" />

        <link href="css/templatemo-pod-talk.css" rel="stylesheet" />
      </head>

      <body>
        <main>
          <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand me-lg-5 me-0" href="../admindashboard">
                <img
                  src="images/logo.png"
                  class="logo-image img-fluid"
                  alt="bhuvaneswar"
                />
              </a>

              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>

                  <li>
                    <form
                      action="#"
                      method="get"
                      class="custom-form search-form flex-fill me-3"
                      role="search"
                    >
                      <div class="input-group input-group-lg">
                        <input
                          name="search"
                          type="search"
                          class="form-control"
                          id="search"
                          placeholder="Search blogs"
                          aria-label="Search"
                        />

                        <button type="submit" class="form-control" id="submit">
                          <i class="bi-search"></i>
                        </button>
                      </div>
                    </form>
                  </li>
                  <li>
                    <a href="admindashboard" style="color: white;font-weight: 800; margin-top: 1rem;">Go Home</a>
                  </li>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <section class="hero-section">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-12">
                  <div class="text-center mb-5 pb-2">
                    <h1 class="text-white">Update Blogs</h1>

                    <p class="text-white">
                      creaate | update | delete Blogs
                    </p>

                  </div>
                  <section class="latest-podcast-section section-padding pb-0"  id="section_2">
            <div class="container">
              <div class="row justify-content-center ">
                <div class="col-lg-12 col-12">
                  <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Update Blogs</h4>
                  </div>
                </div>



                <% posts.forEach( (item) => { %>

                <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block d-flex">
                    <div class="">
                      <div class="custom-block-icon-wrap">
                        <div class="section-overlay"></div>
                        <a
                          href="detail-page.html"
                          class="custom-block-image-wrap"
                        >

                        <img src="<%= item.imagePath %>" class="custom-block-image img-fluid" alt="sorry"</div>

                        </a>
                      </div>

                      <div class="mt-4">
                        <a href="/adminupdatepost/<%= item._id %>"class="btn custom-btn">Update It </a>
                      
                      </div>
                    </div>

                    <div class="custom-block-info">

                      <h5 class="mb-2">
                        <a href="detail-page.html"><%= item.title %></a>
                      </h5>

                      <div class="profile-block d-flex">

                      </div>

                      <p class="mt-lg-4 mb-lg-5"><%= item.caption %></p>


                      <div
                        class="custom-block-bottom d-flex justify-content-between mt-3"
                      >

                        <a href="#" class="bi-heart me-1">
                          <span><%= item.likeCount %></span>
                        </a>

                        <a href="#" class="bi-chat me-1">
                          <span><%= item.commentCount %></span>
                        </a>

                      </div>
                    </div>
                  </div>
                </div>

                <% } )  %>

              </div>
            </div>
          </section>
                </div>
              </div>
            </div>
          </section>
        </main>
      </body>
    </html>
  </body>
</html>

<%- include('./partials/footer.ejs') %>
